.body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner {
    height: 400px;
    background-image: url(images/zoo-banner.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding-top: 20px;
}

.navbar ul li {
    display: inline;
    margin: 30px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    background-color: brown;
    color: bisque;
    border: 2px solid bisque;
    border-radius: 20px;
    padding: 10px;
}

.navbar a:hover {
    background-color: darkred;
}

.amphibians {
    background-color: bisque;
    border: 2px solid darkred;
}
.amphibians p {
    text-align: center;
}

.birds p {
    text-align: center;
}

.birdcard {
    width: 200px;
    height: 150px;
    color: black;
    border: 2px solid darkred; 
    padding-bottom: 40px;
    margin-left: 85px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.birdcard img {
    width: 100%;
}

.fish {
    border: 2px solid darkred;
}
.fish p {
    text-align: center;
}

.mmcard {
    width: 400px;
    height: 250px;
    color: black;
    border: 2px solid darkred; 
    padding-bottom: 55px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.mmcard img {
    width: 100%;
    height: 100%;
}

.reptiles table {
    display: inline-block;
    border-collapse: collapse;
    text-align: center;
    margin-left: 310px;
}

.reptiles table tr th {
    color: bisque;
    background-color: darkred;
    height: 100px;
    width: 250px; 
}

.reptiles table tr th, td{
    border: 2px solid brown;
}

.reptiles table tr:hover {
    background-color: darkred;
    color: bisque;
}

.reptiles table tr td img {
    width: 400px;
}

.footer {
    text-align: center;
}
